/*
    Grid : (182.4 + 12) * 4 + 182.4
*/

html {
    overflow-x: hidden;
}

body {
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
	color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato';
}

a {
    color: black;
    font-family: 'Lato';
    text-decoration: none;
}

#present {
	background-color: white;
	text-align: center;
	font-weight: 900;
	position: fixed;
	font-size: 50px;
	display: block;
	z-index: 1001;
	height: 100%;
	padding: 15%;
	width: 100%;
}

#logo_lama {
	width: 120px;
	height: auto;
}

a:hover{
	text-decoration:none;
	color:black;
}


.green {
    color: rgb(0, 255, 211);
}
/** modif********************************************************/
 
.page {
    margin: 0 auto;
	/*margin-top: -42px;*/
}


@media (min-width: 768px) {
  .page {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .page {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .page {
    width: 1170px;
  }
}



.titre{
	max-height: 250px;
}

/* Navbar */
.title {
    position: relative;
    z-index: 1000;
	top: -280px;
    width: 188px;
    margin-top: 70px;
	line-height: 34px;
	font-size: 28px;
}


/* Contact */

.contact {
    font-family: 'Lato';
	padding-bottom: 50px;
}

.contact h1 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 45px;
    line-height: 20px;
}

.contact h1 a {
    color: black;
    font-family: 'Lato';
}

.contact .contact-left {
    float: left;
    width: 778px;
}

.contact .contact-right {
    float: left;
    width: 182px;
}

.contact a.cv {
    font-family: 'Lato';
    text-transform: uppercase;
    font-size: 25px;
    color: black;
}
/**contact responsive*/
@media (max-width: 768px) {
  .contact h1 {
    font-size: 7vw;
    line-height: 40%;
  }
}

/* Slider */
.slick-prev:before, .slick-next:before {
    color: black;
}

.slick-next.next-arrow, .slick-prev.prev-arrow {
    height: auto;
    bottom: 5px;
    top: inherit;
    width: 25px;
    right: -35px;
}

.slick-prev.prev-arrow {
    left: -35px;
    right: inherit;
}

.slick-next.next-arrow.slick-disabled, .slick-prev.prev-arrow.slick-disabled {
    opacity: 0.1;
    cursor: default;
}

/* Utils */
.clearfix {
    clear: both;
}

/**----------NAVBAR----------**/
.picto_menu{
	width: 26px;
	height: auto;
}
.navbar li {
	padding-right: 15px;
	text-align:center;
}
.navbar li a {
    padding: 5px;
	font-weight: 300;
    transition: color .1s ease-in-out;
}

.navbar li a.active {
    color: #000;
	border: black 1px solid;
	font-weight: 400;
}

.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
  margin-top: 30px;
}
.navbar-default .navbar-brand {
  color: #000000;
  margin-top: -20px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000000;
}
.navbar-default .navbar-text {
  color: #000000;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #000000;
}
.navbar-default .navbar-link {
  color: #000000;
}
.navbar-default .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-default{
	  margin-top: 0px;
  }
  .navbar-default .navbar-brand{
	margin-top: -3px;  
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #ffffff;
  }
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
