.title-photo{
	font-family: 'Lato', serif;
	font-size: 115px;
	font-weight: 900;
	position: relative;
	top: -240px;
	left: 450px;
	max-height: 0px;
}

.slick-slide img{
	min-width: 100%;
}

.cadre_photo{
	position: relative;
    left: 376.8px;
	top: -74px;
}

.photo .main-photo div.slick-slide {
    background: white;
}

.photo .main-photo img {
    max-width: 100%;
    max-height: auto;
    margin: 0 auto;
    background: #fff;
}

.photo .main-photo {
    margin-bottom: 100px;
 /*   min-height: 638px;*/
}


@media (max-width: 767px) {
	.slick-next.next-arrow{
		bottom: -25px;
		right: 0px;
	}
	.slick-prev.prev-arrow {
		bottom: -25px;
		left: 0px;
	}
}

.photo .photo-thumbnail {
    width: 182.4px;
    float: left;
    margin-left: 12px;
    margin-bottom: 36px;
}

.photo .photo-thumbnail img {
    max-width: 100%;
    height: 250px;
}

.photo p.number {
	font-weight: 300;
    margin: 0;
    font-size: 14px;
}

.photo .legend {
    width: 182.4px;
    margin-right: 194.4px;
	margin-left: 15px;
    margin-bottom: 12px;
    float: left;
}

.photo .legend p {
    margin-top: 0;
    margin-bottom: 2px;
    font-size: 14px;
}

.photo .legend p.description {
    font-family: 'Lato';
    font-size: 15px;
}

.photo .legend p.date {
    margin-bottom: 15px;
}

/*Responsive*/
@media (min-width: 768px) {
	.photo .legend{
		margin-right: -30px;
		margin-left: 0px;
	}
	.petit_ecran{
	  display:none;
	}
}

@media (min-width: 992px) {
  .photo .legend{
		margin-left: 15px;
		margin-right: 182px;
	}
}

@media (min-width: 1200px) {
  .photo .legend{
		margin-left: 15px;
		margin-right: 382px;
	}
}
/*On cache le grand écran quand on passe en petit*/
@media (max-width: 768px) {
  .grand_ecran{
	  display:none;
  }
}

.petit_ecran{
	margin-left:-12px;
}

.petit_ecran .description{
	margin-bottom:0px;
}
