.photo header.header img {
    left: 469px;
}

.photo .main-photo div.slick-slide {
    background: white;
}

.photo .main-photo img {
    max-width: 100%;
    max-height: 637px;
    margin: 0 auto;
    background: #fff;
    margin-top: 28px;
}

.photo .main-photo {
    margin-bottom: 100px;
    min-height: 638px;
}

.photo .photo-thumbnail {
    width: 182.4px;
    float: left;
    margin-left: 12px;
    margin-bottom: 36px;
}

.photo .photo-thumbnail img {
    max-width: 100%;
    height: 250px;
}

.photo p.number {
    color: gray;
    margin: 0;
    font-size: 14px;
}

.photo .legend {
    width: 182.4px;
    margin-right: 194.4px;
    margin-bottom: 12px;
    float: left;
}

.photo .legend p {
    margin-top: 0;
    margin-bottom: 2px;
    font-size: 14px;
}

.photo .legend p.description {
    font-family: "din-boldregular";
    font-size: 15px;
}

.photo .legend p.date {
    margin-bottom: 15px;
}

.photo #anchor {
    position: absolute;
    top: 370px;
}
