.projets .header img {
    height: 145px;
    left: 386px;
}

.projets .project-navigation {
    margin-bottom: 12px;
}

.projets .project-navigation .slick-list {
    padding-left: 20px;
    margin-left: -20px;
}

.projets .project-navigation-item {
    margin-right: 12px;
    position: relative;
    height: 140px;
}

.projets .project-navigation-item-inside {
    position: absolute;
    bottom: 0;
}

.projets .project-navigation-item-inside .blue-circle div {
    background-size: 40px;
    top: -15px;
    left: -20px;
}

.projets .project-navigation-item .blue-circle div {
    display: none;
}

.projets .project-navigation-item.project-navigation-selected .blue-circle div {
    display: inherit;
}

.projets .project-navigation-item h3 {
    font-family: 'din-boldregular';
    text-transform: uppercase;
    line-height: 16px;
    margin: 0;
    margin-bottom: 3px;
}

.projets .project-navigation-item p {
    margin: 0;
}

.projets .project-navigation-item p.date {
    font-family: 'din-boldregular';
}

.projets .project-navigation-item p.medium {
    color: #888;
}

.main-photos {
    position: relative;
}

.main-photos img.main-photo {
    width: 100%;
}

.main-photos img.next-photo, img.fake-photo {
    width: 960px;
    position: absolute;
    left: 1000px;
    top: 0;
}

.main-photos img.next-photo:hover {
    cursor: pointer;
}

.projets .project-description {
    margin-bottom: 50px;
}

.projets .project-description .blue-circle div {
    z-index: 0;
    background-size: 110px;
    left: -75px;
    top: -25px;
}

.projets .project-description h2 {
    font-family: 'din-boldregular';
    font-size: 80px;
    line-height: 66px;

    position: relative;
    max-width: 460px;
    margin-left: -40px;
    margin-top: -45px;
    margin-bottom: 25px;

    z-index: 10;
}

.projets .project-description .col-1-left {
    width: 182.4px;
    margin-right: 206.4px;
    float: left;
    font-size: 16px;
}

.projets .project-description .col-3-right {
    width: 571px;
    float: left;
}

.projets .project-description hr {
    width: 182.4px;
    margin-left: 0;
    border-style: solid;
    border-width: 3px;
    border-top: none;
}

.projets .project-description .notes {
    color: #888;
}

.project-description h3 {
    text-transform: uppercase;
    margin: 0;
}

.project-description h3, .project-description h4 {
    margin: 0;
}

.project-description p {
    margin: 0;
}

.project-images img {
    margin-bottom: 12px;
}
