.galerie img.photo-big {
    width: 1160px;
    margin-left: -100px;
    margin-right: -100px;
    margin-bottom: 6px;
}

.galerie .header {
    display: table-cell;
    padding-bottom: 20px;
    width: 960px;
    position: relative;
}

.cadre_galerie{
	position: relative;
    left: 376.8px;
	top: -74px;
}

.title-galerie{
	font-family: 'Playfair Display', serif;
	font-size: 115px;
	font-weight: 900;
	position: relative;
	top: -240px;
	left: 460px;
	max-height: 1px;
}

.galerie .header .quote {
    width: 365px;
    font-size: 30px;
    line-height: 31px;
    font-family: "din-blackregular";
    margin-top: -130px;
}

.galerie .header .quote .author {
    font-size: 14px;
    font-family: "din-regularregular";
}

.galerie .header h2 {
    font-size: 17px;
    line-height: 20px;
    margin: 0;
}

.galerie .header h3 {
    font-size: 16px;
    line-height: 18px;
    margin: 0;
}

.galerie .header p {
    margin: 0;
    font-family: "din-regularregular";
}

.galerie .header .col {
    min-width: 182.4px;
    width: 182.4px;
    margin-right: 12px;
    display: inline-block;
    vertical-align: bottom;
}

.galerie .header .col.last-col {
	margin-top: 30px;
    margin-right: 0;
    position: absolute;
    top: 42px;
    right: 0;
}
